.modal-awb {
  .header-awb {
    text-align: center;

    .courier {
      font-size: 24px;
      letter-spacing: 0.8px;
      font-weight: 500;
      margin-bottom: 7px;
    }

    .title {
      font-size: 30px;
      letter-spacing: 0.8px;
      margin-bottom: 7px;
    }

    .airwaybill {
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 1.7px;
      margin-bottom: 40px;
    }
  }

  .data-awb {
    width: 100%;
    text-align: center;

    th {
      border-bottom: 1px solid #d7d7d7;
      padding: 10px;
    }

    td {
      padding: 10px;
    }
  }

  .status-shipping {
    text-align: center;
    margin-top: 30px;

    .title2 {
      font-size: 24px;
      letter-spacing: 0.7px;
      margin-bottom: 30px;
    }

    .outbond {
      width: 100%;

      td {
        border-top: 1px solid #d7d7d7;
        padding: 10px;
      }
    }

    .time-shipping {
      width: 100%;
      margin-top: 35px;

      td {
        border-top: 1px solid #d7d7d7;
        padding: 10px;
      }
    }
  }
}
