.trash {
    padding: 5px 5px 7px 5px;
    border-radius: 6px;
    background: #fee7ed;
    cursor: pointer;
}

.alert-roles {
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 12px;
    &.success {
        background: #cdf8eb;
        color: #40b793;
    }
    &.warning {
        background: #fee7ed;
        color: #e32a58;
    }
}

.title {
    font-weight: 600;
    width: 20%;
}
